<div class="container">

  <h1 class="title">Data Visualizations</h1>

  <p>Dumping ground for data visulization projects</p>

  <section class="top-padded columns">
    <div class="column">
      <h2 class="title is-4">Visualizations</h2>
      <% vizList.forEach(function (viz) { %>
      <div>
        <a href="./dataviz/<%- viz %>"><%- viz %></a>
      </div>
      <% })%>
    </div>
    <div class="column">
      <h2 class="title is-4">Projects</h2>
      <ul>
        <li>
          <p><a href="/plant-game">The Plant Game</a></p>
          <p>Not strictly a visulization but part of Steven's ongoing exploration of drawing with genetic algorythms</p>
        </li>
      </ul>
    </div>
  </section>
</div>
