
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<% vizData.libs.forEach(function(script) { %>
   <script src="/static/js/<%- script %>"></script>
<% }) %>

<div class="container styled-html-content">
  <div id="vc">
  </div>
</div>

<script>
  var pageData = <%- JSON.stringify(vizData, null, '  ') %>;
</script>
<script src="/static/js/dataviz.js"></script>
