<div class="container">

  <h1 class="title"><%- vizData.title %></h1>

  <section class="top-padded columns">
      <%- include(vizTemplate) %>
  </section>

</div>

<% vizData.libs.forEach(function(script) { %>
   <script src="/static/js/<%- script %>"></script>
<% }) %>
<% vizData.scripts.forEach(function(script) { %>
   <script src="/static/js/<%- script %>"></script>
<% }) %>
