
.body-wrapper {
    margin-top: 2rem;
}

footer {
    margin-top: 6.5rem;
}

section.top-padded {
    padding-top: 2.2rem;
}

.tag-list h4.tag-list-title {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}


h4.active {
    font-weight: bold;
}

.styled-html-content {
    h1 {
        @extend .subtitle;
        @extend .subtitle.is-3;
        color: $blue;
    }

    h2 {
        @extend .subtitle;
        @extend .subtitle.is-5;
        color: $pink;
    }

    ul {
        list-style-type: disc;
        padding-left: 1rem;
        margin: 0.5rem 0em;
    }
    li {
        margin-left: 0.5rem;
    }
}
