
.body-wrapper {
    margin-top: 2rem;
}

footer {
    margin-top: 6.5rem;
}

section.top-padded {
    padding-top: 2.2rem;
}


.styled-html-content {
    h1 {
        font-size: 2rem;
        color: $blue;
        font-weight: 300;
    }


}