

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">About</h1>

      <h1 class="title">
        <a class="navbar-brand vectorize" href="/">neonvectors.io</a>
      </h1>
      <h2 class="subtitle">is conor and steven's website of wonders</h2>
      <p>This website is built on vue.js, node, bulma.</p>

      <p>Todo some more stuff in here.</p>

    </div>
  </div>
</section>
