<div class="container">
  <section class="columns">
    <div class="column is-two-thirds styled-html-content">
      <h1><%- content.title %></h1>
      <div>
        <%- content.content %>

      </div>
    </div>
    <div class="column" id="blog-tags">
      <h4>Tags</h4>
      <% content.tags.forEach( function(tag) { %>
      <a href="./tags/<%- tag %>"><%- tag %></a>,
      <% }) %>

      <h4 v-if="Object.keys(tags).length">All Tags [+]</h4>
      <ul v-for="(items, tag) in tags">
        <li><a v-bind:href="'./tags/' + tag">{{tag}} </a>({{items.length}})</li>
      </ul>

    </div>
  </section>
</div>
