<ul>
<% blogList.forEach( function (blog) { %>
<li>
  <h2 class="subtitle is-5">
    <a href="/pages/blogs/<%=blog.fileName%>">
      <%=  blog.fileName %>
      <%=  blog.title %>
    </a>
  </h2>
   </li>
<% }) %>
</ul>
